
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="../../static/css/style_admain.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/js/admain/3rd/select/select.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/admain/jquery/jquery.1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/js/admain/3rd/select/select-ui.min.js"></script>
</head>

<body>

<div class="formbody">

    <div class="formtitle"><span>基本信息</span></div>

    <ul class="forminfo short">
        <li>
            <label>鱼种类<b>*</b></label>
            <input name="" type="text"/><i>不能超过30个字符</i>
        </li>
        <li>
            <label>编号<b>*</b></label>
            <input name="" type="text"/><i>每条鱼编号唯一</i>
        </li>
        <li>
            <label>是否健康</label>
            <cite>
                <input name="" type="radio" value="" checked="checked"/>&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="" type="radio" value=""/>&nbsp;否
            </cite>
            </li>
        <li>
            <label>生长阶段</label>
            <div class="vocation">
                <select class="select1">
                    <option>鱼苗</option>
                    <option>生长鱼</option>
                </select>
            </div>
        </li>
        <li>
            <label>重量</label>
            <input name="medicareLimit" type="text" class="short-input validate[required,custom[number]]"
                   value=""/>
        </li>
        <li>
            <label>尺寸</label>
            <input name="sideEffect" type="text" class="short-input" value=""/>
        </li>
        <li style="width:100%">
            <label>生命状态</label>
            <input name="remark" type="text" class="long-input" value=""/>
        </li>
        <li>
            <label>孵化日期</label>
            <input name="sideEffect" type="text" class="short-input" value="" readonly="readonly" />
        </li>
        <li>
            <label>性别</label>
            <div class="vocation">
                <select class="select1">
                    <option>雌性</option>
                    <option>雄性</option>
                </select>
            </div>
        </li>
        <li style="width: 100%">
            <label>备注</label>
            <textarea name="" cols="" rows="" class="textinput"></textarea>
        </li>
        <li style="width: 100%">
            <label>&nbsp;</label>
            <input name="" type="button" class="btn" value="确认保存"/>
        </li>
    </ul>
</div>

<script type="text/javascript">
    $(function(){
        //下拉框的样式设置
        $(".select1").uedSelect({
            width: 100
        });
    });
</script>

</body>
</html>
