
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="../../static/css/style_admain.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/admain/jquery/jquery.1.11.2.min.js"></script>
</head>

<body>

<div class="rightinfo">

    <div class="tools">
        <ul class="toolbar">
            <li class="click"><span><img src="../../static/img/admain/t01.png"/></span>添加</li>
            <li class="click"><span><img src="../../static/img/admain/t02.png"/></span>修改</li>
            <li><span><img src="../../static/img/admain/t03.png"/></span>删除</li>
            <li><span><img src="../../static/img/admain/t04.png"/></span>统计</li>
        </ul>

        <ul class="toolbar1">
            <li><span><img src="../../static/img/admain/t05.png"/></span>设置</li>
        </ul>
    </div>


    <ul class="classlist">
        <li>
            <span><img src="../../static/img/admain/sheixangtou.webp" width="150"/></span>
            <div class="lright">
                <h2>水底摄像头</h2>
                <p>编号：video-1<br/>类型：H264 <br/>内存：4Mb</p>
                <a class="enter">查看</a>
            </div>
        </li>

        <li>
            <span><img src="../../static/img/admain/sheixangtou.webp" width="150"/></span>
            <div class="lright">
                <h2>水底摄像头</h2>
                <p>编号：video-2<br/>类型：4CIF<br/>内存：128kb</p>
                <a class="enter">查看</a>
            </div>
        </li>

        <li>
            <span><img src="../../static/img/admain/sheixangtou.webp" width="150"/></span>

            <div class="lright">
                <h2>水底摄像头</h2>
                <p>编号：video-3<br/>类型：H264<br/>内存：100b</p>
                <a class="enter">查看</a>
            </div>
        </li>

        <li>
            <span><img src="../../static/img/admain/yuntai2.webp" width="148"/></span>
            <div class="lright">
                <h2>云台</h2>
                <p>编号：holder-1<br/>类型：H264<br/>内存：1kb</p>
                <a class="enter">查看</a>
            </div>
        </li>

        <li>
            <span><img src="../../static/img/admain/shengna.jpg" width="150"/></span>
            <div class="lright">
                <h2>声呐</h2>
                <p>编号：sonar-1 <br/>类型：CSV<br/>内存：10kb</p>
                <a class="enter">查看</a>
            </div>
        </li>

        <li>
            <span><img src="../../static/img/admain/chuanganqi.webp" width="150"/></span>
            <div class="lright">
                <h2>传感器</h2>
                <p>编号：sensor-1 <br/>类型：TXT<br/>内存：2kb</p>
                <a class="enter">查看</a>
            </div>
        </li>

        <li>
            <span><img src="../../static/img/admain/qixiangzhan.jpg" width="150"/></span>
            <div class="lright">
                <h2>气象站</h2>
                <p>编号：menteor-1<br/>类型：TXT<br/>内存：500b</p>
                <a class="enter">查看</a>
            </div>
        </li>


    </ul>

    <div class="clear"></div>

    <div class="pagin">
        <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
        <ul class="paginList">
            <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
            <li class="paginItem"><a href="javascript:;">1</a></li>
            <li class="paginItem current"><a href="javascript:;">2</a></li>
            <li class="paginItem"><a href="javascript:;">3</a></li>
            <li class="paginItem"><a href="javascript:;">4</a></li>
            <li class="paginItem"><a href="javascript:;">5</a></li>
            <li class="paginItem more"><a href="javascript:;">...</a></li>
            <li class="paginItem"><a href="javascript:;">10</a></li>
            <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
        </ul>
    </div>
</div>


</body>
</html>
