
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="../../static/css/style_admain.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/admain/jquery/jquery.1.11.2.min.js"></script>

    <!--fancybox-->
    <link href="../../static/js/admain/3rd/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/admain/3rd/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="../../static/js/admain/3rd/fancybox/jquery.easing-1.3.pack.js"></script><!--可选 - 如果需要用到fancy transition-->
    <script type="text/javascript" src="../../static/js/admain/3rd/fancybox/jquery.mousewheel-3.0.4.pack.js"></script><!--可选 - 如果需要支持鼠标滚轮滚动效果-->
</head>


<body>


<div class="rightinfo">
    <div class="tools">
        <ul class="toolbar">
            <li class="click"><span><img src="../../static/img/admain/t01.png"/></span>添加</li>
            <li class="click"><span><img src="../../static/img/admain/t02.png"/></span>修改</li>
            <li><span><img src="../../static/img/admain/t03.png"/></span>删除</li>
            <li><span><img src="../../static/img/admain/t04.png"/></span>统计</li>
        </ul>
        <ul class="toolbar1">
            <li><span><img src="../../static/img/admain/t05.png"/></span>设置</li>
        </ul>
    </div>

    <table class="imgtable">
        <thead>
            <tr>
                <th width="100px;">缩略图</th>
                <th>鱼类</th>
                <th>编号</th>
                <th>体长</th>
                <th>体重</th>
                <th>阶段</th>
                <th>状态</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="imgtd"><a href="../../static/img/admain/dahuangyu.jpeg" class="fancybox"><img src="../../static/img/admain/dahuangyu.jpeg" /></a></td>
                <td><a href="#">大黄鱼</a>

                    <p>登记时间：2023-10-12</p></td>
                <td>ID: 82122</td>
                <td>10寸</td>
                <td>5kg</td>
                <td>生长鱼</td>
                <td>健康</td>
            </tr>

            <tr>
                <td class="imgtd"><a rel="group1" href="../../static/img/admain/pingyu.jpg" class="fancybox"><img src="../../static/img/admain/pingyu.jpg"/></a></td>
                <td><a href="#">鲆鱼</a>

                    <p>登记时间：2023-10-12</p></td>
                <td>ID: 82122</td>
                <td>12寸</td>
                <td>6kg</td>
                <td>鱼苗</td>
                <td><i>患病</i></td>
            </tr>

            <tr>
                <td class="imgtd"><img src="../../static/img/admain/hailuyu.jpg"/></td>
                <td><a href="#">海鲈鱼</a>

                    <p>登记时间：2023-10-12</p></td>
                <td>ID: 82122</td>
                <td>15寸</td>
                <td>8kg</td>
                <td>生长鱼</td>
                <td>健康</td>
            </tr>

            <tr>
                <td class="imgtd"><img src="../../static/img/admain/shibanyu.jpg"/></td>
                <td><a href="#">石斑鱼</a>

                    <p>登记时间：2023-10-13</p></td>
                <td>ID: 82122</td>
                <td>8寸</td>
                <td>5.6kg</td>
                <td>鱼苗</td>
                <td>健康</td>
            </tr>

            <tr>
                <td class="imgtd"><img src="../../static/img/admain/shiyu.webp"/></td>
                <td><a href="#">鰤鱼</a>

                    <p>登记时间：2023-10-12</p></td>
                <td>ID: 82122</td>
                <td>16寸</td>
                <td>12kg</td>
                <td>生长鱼</td>
                <td>健康</td>
            </tr>
        </tbody>
    </table>


    <div class="pagin">
        <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
        <ul class="paginList">
            <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
            <li class="paginItem"><a href="javascript:;">1</a></li>
            <li class="paginItem current"><a href="javascript:;">2</a></li>
            <li class="paginItem"><a href="javascript:;">3</a></li>
            <li class="paginItem"><a href="javascript:;">4</a></li>
            <li class="paginItem"><a href="javascript:;">5</a></li>
            <li class="paginItem more"><a href="javascript:;">...</a></li>
            <li class="paginItem"><a href="javascript:;">10</a></li>
            <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('.imgtable tbody tr:odd').addClass('odd');
        //fancybox初始化
        $( ".fancybox").fancybox();
    });
</script>

</body>
</html>
