
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="../../static/css/style_admain.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/admain/jquery/jquery.1.11.2.min.js"></script>
</head>

<body>

<div class="rightinfo">
    <div class="tools">
        <ul class="toolbar">
            <li><span><img src="../../static/img/admain/t01.png"/></span>添加</li>
            <li><span><img src="../../static/img/admain/t02.png"/></span>修改</li>
            <li><span><img src="../../static/img/admain/t03.png"/></span>删除</li>
            <li><span><img src="../../static/img/admain/t04.png"/></span>统计</li>
        </ul>
        <ul class="toolbar1">
            <li><span><img src="../../static/img/admain/t05.png"/></span>设置</li>
        </ul>
    </div>

    <table class="tablelist">
        <thead>
            <tr>
                <th><input name="" type="checkbox" value="" checked="checked"/></th>
                <th>编号<i class="sort"><img src="../../static/img/admain/px.png"/></i></th>
                <th>公司名称</th>
                <th>用户</th>
                <th>籍贯</th>
                <th>注册日期</th>
                <th>是否审核</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130908</td>
                <td>威海海洋牧场科技发展有限公司</td>
                <td>admin</td>
                <td>江苏南京</td>
                <td>2013-09-09</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink"> 删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130907</td>
                <td>大连塞里岛海洋牧场发展有限公司</td>
                <td>uimaker</td>
                <td>辽宁大连</td>
                <td>2013-09-08</td>
                <td>未审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130906</td>
                <td>唐山海洋牧场实业有限公司</td>
                <td>user</td>
                <td>河北唐山</td>
                <td>2013-09-07</td>
                <td>未审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130905</td>
                <td>唐山海洋牧场实业有限公司</td>
                <td>admin</td>
                <td>河北唐山</td>
                <td>2013-09-06</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130904</td>
                <td>威海海洋牧场科技发展有限公司</td>
                <td>uimaker</td>
                <td>江苏南京</td>
                <td>2013-09-05</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130903</td>
                <td>福鼎台山岛海洋牧场水产养殖有限公司</td>
                <td>user</td>
                <td>福建宁德</td>
                <td>2013-09-04</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130902</td>
                <td>烟台养马岛海洋牧场开发有限公司</td>
                <td>admin</td>
                <td>山东烟台</td>
                <td>2013-09-03</td>
                <td>未审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130901</td>
                <td>威海海洋牧场科技发展有限公司</td>
                <td>admin</td>
                <td>江苏南京</td>
                <td>2013-09-02</td>
                <td>未审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130900</td>
                <td>烟台养马岛海洋牧场开发有限公司</td>
                <td>uimaker</td>
                <td>山东烟台</td>
                <td>2013-09-01</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>
        </tbody>
    </table>

    <!-- 分页块 -->
    <div class="pagin">
        <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
        <ul class="paginList">
            <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
            <li class="paginItem"><a href="javascript:;">1</a></li>
            <li class="paginItem current"><a href="javascript:;">2</a></li>
            <li class="paginItem"><a href="javascript:;">3</a></li>
            <li class="paginItem"><a href="javascript:;">4</a></li>
            <li class="paginItem"><a href="javascript:;">5</a></li>
            <li class="paginItem more"><a href="javascript:;">...</a></li>
            <li class="paginItem"><a href="javascript:;">10</a></li>
            <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
        </ul>
    </div>

    <!-- 提示对话框 -->
    <div class="tip">
        <div class="tiptop"><span>提示信息</span><a></a></div>
        <div class="tipinfo">
            <span><img src="../../static/img/admain/ticon.png"/></span>
            <div class="tipright">
                <p>是否确认对信息的修改 ？</p>
                <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
        </div>
        <div class="tipbtn">
            <input name="" type="button" class="sure" value="确定"/>&nbsp;
            <input name="" type="button" class="cancel" value="取消"/>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        //给偶数行加上颜色
        $('.tablelist tbody tr:odd').addClass('odd');
        //提示框弹出事件
        $('.toolbar').find('li').on('click', function(){
            $(".tip").fadeIn(200);
        });
        //提示框影藏
        $(".tiptop a").click(function () {
            $(".tip").fadeOut(200);
        });

        $(".sure").click(function () {
            $(".tip").fadeOut(100);
        });

        $(".cancel").click(function () {
            $(".tip").fadeOut(100);
        });
    });
</script>

</body>
</html>
