
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="../../static/css/style_admain.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/js/admain/3rd/select/select.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/admain/jquery/jquery.1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/js/admain/3rd/select/select-ui.min.js"></script>
</head>

<body>


<div class="rightinfo">
    <ul class="seachform">
        <li>
            <label>综合查询</label>
            <input name="" type="text" class="scinput"/>
        </li>
        <li>
            <label>指派</label>
            <div class="vocation">
                <select class="select3">
                    <option>全部</option>
                    <option>其他</option>
                </select>
            </div>
        </li>
        <li>
            <label>重点客户</label>
            <div class="vocation">
                <select class="select3">
                    <option>全部</option>
                    <option>其他</option>
                </select>
            </div>
        </li>
        <li>
            <label>客户状态</label>
            <div class="vocation">
                <select class="select3">
                    <option>全部</option>
                    <option>其他</option>
                </select>
            </div>
        </li>
        <li>
            <label>&nbsp;</label>
            <input name="" type="button" class="scbtn" value="查询"/>
        </li>
    </ul>


    <table class="tablelist">
        <thead>
            <tr>
                <th><input name="" type="checkbox" value="" checked="checked"/></th>
                <th>编号<i class="sort"><img src="../../static/img/admain/px.png"/></i></th>
                <th>公司名称</th>
                <th>用户</th>
                <th>籍贯</th>
                <th>注册日期</th>
                <th>是否审核</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130908</td>
                <td>威海海洋牧场科技发展有限公司</td>
                <td>admin</td>
                <td>江苏南京</td>
                <td>2013-09-09</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink"> 删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130907</td>
                <td>大连塞里岛海洋牧场发展有限公司</td>
                <td>uimaker</td>
                <td>辽宁大连</td>
                <td>2013-09-08</td>
                <td>未审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130906</td>
                <td>唐山海洋牧场实业有限公司</td>
                <td>user</td>
                <td>河北唐山</td>
                <td>2013-09-07</td>
                <td>未审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130905</td>
                <td>唐山海洋牧场实业有限公司</td>
                <td>admin</td>
                <td>河北唐山</td>
                <td>2013-09-06</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130904</td>
                <td>威海海洋牧场科技发展有限公司</td>
                <td>uimaker</td>
                <td>江苏南京</td>
                <td>2013-09-05</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130903</td>
                <td>福鼎台山岛海洋牧场水产养殖有限公司</td>
                <td>user</td>
                <td>福建宁德</td>
                <td>2013-09-04</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130902</td>
                <td>烟台养马岛海洋牧场开发有限公司</td>
                <td>admin</td>
                <td>山东烟台</td>
                <td>2013-09-03</td>
                <td>未审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130901</td>
                <td>威海海洋牧场科技发展有限公司</td>
                <td>admin</td>
                <td>江苏南京</td>
                <td>2013-09-02</td>
                <td>未审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>

            <tr>
                <td><input name="" type="checkbox" value=""/></td>
                <td>20130900</td>
                <td>烟台养马岛海洋牧场开发有限公司</td>
                <td>uimaker</td>
                <td>山东烟台</td>
                <td>2013-09-01</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">查看</a> <a href="#" class="tablelink">删除</a></td>
            </tr>
        </tbody>
    </table>

    <div class="pagin">
        <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
        <ul class="paginList">
            <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
            <li class="paginItem"><a href="javascript:;">1</a></li>
            <li class="paginItem current"><a href="javascript:;">2</a></li>
            <li class="paginItem"><a href="javascript:;">3</a></li>
            <li class="paginItem"><a href="javascript:;">4</a></li>
            <li class="paginItem"><a href="javascript:;">5</a></li>
            <li class="paginItem more"><a href="javascript:;">...</a></li>
            <li class="paginItem"><a href="javascript:;">10</a></li>
            <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('.tablelist tbody tr:odd').addClass('odd');
        //下拉框的样式设置
        $(".select1").uedSelect({
            width: 345
        });
        $(".select2").uedSelect({
            width: 167
        });
        $(".select3").uedSelect({
            width: 100
        });
    });
</script>

</body>
</html>
