

<html>



<meta charset="utf-8">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>海洋牧场智慧可视化系统</title>
    <!--<link href="../static/css/_style.css" rel="stylesheet" type="text/css" media="all" />-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/watersystem.css') }}">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 768 * 100 + 'px';
    </script>
    <script src="../static/js/echarts.min.js"></script>
    

</head>



<body>
    <div class="wpbox">
        <div class="bnt">
            <div class="topbnt_left fl">
                <ul>
                    <li><a href="/mainInfo">主要信息</a></li>
                    <li><a href="/waterSystem">水下系统</a></li>
                </ul>
            </div>
            <h1 class="tith1 fl">海洋牧场智慧可视化系统</h1>
            <div class=" fr topbnt_right">
                <ul>
                    <li><a href="/dataCenter">数据中心</a></li>
                    <li><a href="/smartCenter">智能中心</a></li>
                </ul>
            </div>
            <a href="/admain" class="admain"></a>
        </div>
        <div class="leftMain">
            <div class="leftMain_top">
                <div class="leftMain_topIn">
                    <ul>
                        <div style="display: flex; justify-content:space-evenly ; width:120%">
                            <li style="flex:0 0 20%">
                                <div class="liIn">
                                    <div class="liIn" style="width: 80%;height: 5%;">
                                        <div style="display: flex;">
                                            <h3 style="flex: 1;">鱼群数量</h3>
                                            <p class="shu" style="flex: 1;"><span class="shu1">159</span><i></i></p>
                                        </div>

                                    </div>
                                    <div class="boxnav nav02" style="height: 30%;">
                                        <div>
                                            <p class="p3" style="display: flex;">
                                                <span><i class="dot dot2" style="flex: 1;"></i>今日新增：8</span>
                                                <span><i class="dot dot1" style="flex: 1;"></i>今日死亡：6</span>
                                            </p>
                                        </div>
                                    </div>
                                    <span class="border_bg_leftTop"></span>
                                    <span class="border_bg_rightTop"></span>
                                    <span class="border_bg_leftBottom"></span>
                                    <span class="border_bg_rightBottom"></span>
                                </div>
                            </li>

                            <li style="flex:0 0 20%">
                                <div class="liIn">
                                    <div style="display: flex;">
                                        <h3 style="flex: 1;">数据总量</h3>                                  
                                        <p class="shu" style="flex: 1;"><span class="shu1">159</span><i></i></p>
                                    </div>
                                    <div style="display: flex;">
                                        <h3 style="flex: 1;">鱼种</h3>
                                        <p class="shu" style="flex: 1;"><span class="shu1">7</span><i></i></p>
                                    </div>
                                    <div style="display: flex;">
                                        <h3 style="flex: 1;">鱼苗</h3>
                                        <p class="shu" style="flex: 1;"><span class="shu1">500</span><i>尾</i></p>
                                    </div>
                                    <div style="display: flex;">
                                        <h3 style="flex: 1;">生长</h3>
                                        <p class="shu" style="flex: 1;"><span class="shu1">600</span><i>尾</i></p>
                                    </div>
                                    <span class="border_bg_leftTop"></span>
                                    <span class="border_bg_rightTop"></span>
                                    <span class="border_bg_leftBottom"></span>
                                    <span class="border_bg_rightBottom"></span>
                                </div>
                            </li>


                            <li style="flex:0 0 20%">
                                <div class="liIn">
                                    <h3>网箱信息</h3>
                                    <div class="boxfoot"></div>
                                    <h3>网箱长度/宽度/深度：100m/50m/30m</h3>
                                    
                                    <h3>网箱经度：128.034</h3>
                                    <h3>网箱纬度：52.123</h3>
                                    <span class="border_bg_leftTop"></span>
                                    <span class="border_bg_rightTop"></span>
                                    <span class="border_bg_leftBottom"></span>
                                    <span class="border_bg_rightBottom"></span>
                                </div>
                            </li>


                            <li style="flex:0 0 20%">
                                <div class="liIn">
                                    <h3>水底传感器</h3>
                                    <div class="boxfoot"></div>
                                    <h3>运行时间：24天13小时43分钟</h3>
                                    <h3>下次检修：35天后</h3>
                                    <h3>保修过期：2035年02月01日</h3>
                                    <span class="border_bg_leftTop"></span>
                                    <span class="border_bg_rightTop"></span>
                                    <span class="border_bg_leftBottom"></span>
                                    <span class="border_bg_rightBottom"></span>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>


            </div>
        </div>

        



        <div class="rightMain">
            <div class="rightMain_top">
                <div class="rightMain_topIn">
                    <h3>鱼群种类占比</h3>
                    <div class="biaoge" style="width:100%;" id="fish_species"></div>
                    <script type="text/javascript">

                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('fish_species'));
                        // 指定图表的配置项和数据
                        var option = {
                            title: {
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: '{a} <br/>{b} : {c} ({d}%)'
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: {{ legend| safe}}
                        },
                        series: [
                            {
                                name: '鱼群种类占比',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '40%'],
                                data: {{ data| safe}},
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                            }
                        ]
                    };


                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);

                    </script>
                    <span class="border_bg_leftTop"></span>
                    <span class="border_bg_rightTop"></span>
                    <span class="border_bg_leftBottom"></span>
                    <span class="border_bg_rightBottom"></span>

                </div>
            </div>

        </div>




        

    </div>
</body>



</html>