<html>

<meta charset="utf-8">

<head>

<title>海洋牧场智慧可视化系统</title>
<!--<link href="../static/css/_style.css" rel="stylesheet" type="text/css" media="all" />-->
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'css/style.css') }}">

</head>

<body>
    <div class="wpbox">
        <div class="bnt">
            <div class="topbnt_left fl">
                <ul>
                    <li><a href="/mainInfo">主要信息</a></li>
                    <li><a href="/waterSyatem">水下系统</a></li>
                </ul>
            </div>
            <h1 class="tith1 fl">海洋牧场智慧可视化系统</h1>
            <div class=" fr topbnt_right">
                <ul>
                    <li><a href="/dataCenter">数据中心</a></li>
                    <li><a href="/smartCenter">智能中心</a></li>
                </ul>
            </div>
        </div>
        
        <span class="fishery-text">智能中心</span>


    </div>

</body>


</html>